/* src/App.css */
body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #0d0f13;
  color: rgb(244, 245, 239);
}

.app {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Adjust this height to make the top bar thicker */
  background-color: #0d0f13;
  color: rgb(244, 245, 239);
  padding: 20px;
  font-size: 24px; /* Optional: Adjust font size as needed */
}

.container {
  display: flex;
  height: calc(
    100vh - 80px
  ); /* Adjust height to account for the top bar height */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
